project:
  type: website

execute:
  freeze: auto

website:
  title: ""
  navbar:
    left:
      - text: Home
        href: index.qmd
      - text: Blog
        href: blog/
      - text: Projects
        href: projects/
        
  page-footer: "Copyright 2024, Govind G Nair" 
      

format:
  html:
    theme: darkly
    css: styles.css
    toc: true
    
 
editor: visual

